@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 197 71% 73%;
    --primary-foreground: 224 71% 4%;
    --secondary: 208 40% 90%;
    --secondary-foreground: 224 71% 4%;
    --muted: 208 40% 90%;
    --muted-foreground: 224 25% 45%;
    --accent: 33 100% 64%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 40% 90%;
    --input: 208 40% 90%;
    --ring: 197 71% 73%;
    --chart-1: 197 71% 73%;
    --chart-2: 33 100% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 15%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 208 100% 97%;
    --sidebar-accent-foreground: 197 71% 73%;
    --sidebar-border: 208 40% 90%;
    --sidebar-ring: 197 71% 73%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;
    --card: 224 71% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 197 71% 73%;
    --primary-foreground: 224 71% 4%;
    --secondary: 224 71% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 71% 10%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 33 100% 64%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 197 71% 73%;
    --chart-1: 197 71% 73%;
    --chart-2: 33 100% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 197 71% 73%;
    --sidebar-border: 224 71% 10%;
    --sidebar-ring: 197 71% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
